<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
    </system.web>

  <connectionStrings>
    <!--<add name="connect" connectionString="Data Source=WPC3;initial Catalog=HelpDesk;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="connect" connectionString="workstation id=developerdb.mssql.somee.com;packet size=4096;user id=mrdeveloper01_SQLLogin_1;pwd=g55hjc4uuv;data source=developerdb.mssql.somee.com;persist security info=False;initial catalog=developerdb"
      providerName="System.Data.SqlClient" />
    <add name="HelpDeskConnectionString" connectionString="workstation id=developerdb.mssql.somee.com;packet size=4096;user id=mrdeveloper01_SQLLogin_1;pwd=g55hjc4uuv;data source=developerdb.mssql.somee.com;persist security info=False;initial catalog=developerdb"
      providerName="System.Data.SqlClient" />
    <!--<add name="HelpDeskConnectionString" connectionString="Data Source=WPC3;Initial Catalog=HelpDesk;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
</configuration>
